.dot.radical { background-color: #e74c3c; }
.dot.familia { background-color: #3498db; }
.dot.comida { background-color: #f1c40f; }
.dot.personagens { background-color: #9b59b6; }
.dot.zoologico { background-color: #2ecc71; }
.dot.museu{background-color: #f36608;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color:#FFD700;
    color: #111;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 25px;
}

header h1{
    font-size: 1.58rem;
    font-weight: bold;
    border-bottom: 2px solid #111;
    display: inline-block;
    padding-bottom: 5px;
}

.main-layout{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 1400px;
    margin: 0 auto;
}

.top-row{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}

.button-row{
    display:grid;
    grid-template-columns: repeat(2fr, 1fr);
    gap: 20px;
    align-items: start;
}

.card{
    background-color: #ffffff;
    border: 1px solid #111;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 4px 4px 0 #111; 
}

.card h2{
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 1px dashed #111;
    padding-bottom: 8px;
}

.form-group{
    margin-bottom: 12px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 6px;
    outline: none;
    background: #fff;
}

.form-group input:focus{
    border-color: #000;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.btn-black{
    background-color: #0becf4e1;
    color: #000000;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 5px;
    transition: background 0.2s;
}

.btn-black:hover{
    background-color: #0a77d6;
}

.summary-content p{
    font-size: 0.9rem;
    margin-bottom: 8px;
    line-height: 1.4;
}

.summary-content hr{
    margin: 10px 0;
    border: 0;
    border-top: 1px dashed #ccc;
}

.table-card {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #fff;
}

table th, table td {
    border: 1px solid #111;
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
}

table th {
    background-color: #f1f1f1;
}

.chart-container {
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 15px auto;
}

.chart-legend-custom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-size: 0.85rem;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 3px;
}

@media (max-width: 1024px) {
    .top-row, .bottom-row {
        grid-template-columns: 1fr;
    }
}