*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

.painel-principal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

.Secao_clientes, .Secao_de_Agendamento, .Total-produtos {
  border: 2px solid #000;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #333;
}

.painel-tabela {
  margin-top: 30px;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 20px;
}

.painel-tabela h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.painel-tabela {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 20px;
}